.root {
    -fx-font: 12px Tahoma;
    -fx-background: rgb(103, 159, 136);
}
.border-pane {
    -fx-text-fill: #FFFFFF;
    -fx-font: 10px Tahoma;
    -fx-background-color: #1f2833;

    -fx-border-style: none;
    -fx-border-color: blue;
    -fx-border-width: 25;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.border-pane {
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar {
    -fx-background-color: #1f2833;
    -fx-base: #1f2883;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button {
    -fx-background-color:
            linear-gradient(#8fc0a9, #8fc0a9),
            radial-gradient(center 50% -40%, radius 200%, #8fc0a9 45%, #8fc0a9 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #ffffff;
}

.accordion {
    -fx-background-color:
            linear-gradient(#8fc0a9, #8fc0a9, #8fc0a9);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #ffffff;
}

.titled-pane {
    -fx-background-color: linear-gradient(#bfde66, #13dea0);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #a5c16f;
}

.titled-pane > *.content
{
    -fx-background-color: linear-gradient(#8fc0a9, #8fc0a9);
}

.table-view {

}

#toolBarPane {
    -fx-background-color: #8fc0a9;
}

#mainBorderPane {
    -fx-background-color: #b8ecf8;
    -fx-base: #5DA23B;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#scrollPaneMainScreen {
    -fx-background-color: #fc0000;
    -fx-base: #560000;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

