.root {
    -fx-font: 12px Tahoma;
    -fx-background: #93c14e;
}

.border-pane {
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar {
    -fx-background-color: #ffffff;
    -fx-base: #90d765;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button {
    -fx-background-color: #7faf59;
    -fx-background-radius: 12px;
    -fx-background-insets: 0, 1;
    -fx-border-color: #93c14e;
    -fx-border-width: 3 3 3 3;
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.4) , 5, 0 , 2, 2 );
    -fx-text-fill: #ffffff;
    -fx-border-radius: 12px;
}

.button:hover {
    -fx-border-color: #ffffff;
}

.accordion {
    -fx-background-color:
            linear-gradient(#ffffff, #ffffff);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #ffffff;
}

.titled-pane {
    -fx-background-color: linear-gradient(#ffffff, #ffffff);
    -fx-effect: dropshadow( three-pass-box , rgb(0, 0, 0), 5, 0.0 , 0 , 1 );
    -fx-text-fill: #93c14e;
}

.titled-pane > *.content
{
    -fx-background-color: linear-gradient(#ffffff, #ffffff);
}

.table-view {

}

#toolBarPane {
    -fx-background-color: #ffffff;
}

#mainBorderPane {
    -fx-background-color: #EAEFBD;
    -fx-base: #EAEFBD;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#planTripBar {
    -fx-background-color: #ffffff;
    -fx-base: #ffffff;
}

#scrollPaneMainScreen {
    -fx-background-color: #fc0000;
    -fx-base: #560000;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
#funFactBox {
    -fx-background-insets: 0;
    -fx-background-color: #EAEFBD;
}
#funFactBox .content {
    -fx-background-color: #EAEFBD;
}

#myDetailsPane {
    -fx-background-color: #EAEFBD;
}
